# git
.git

# Docker específicos
.docker/
*.tar.gz
*.tar

# Datos y Volúmenes
postgres_data/
mysql_data/
volumes/

# Seguridad y Variables de Entorno
.env
.env.local
.env.*.local

# Dependencias
node_modules/
__pycache__/
vendor/

# Archivos específicos de Python
*.pyc                 
.pytest_cache/        
.coverage             

# Archivos específicos del sistema operativo o del editor
Thumbs.db            
.vscode/             
